
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

body{
  font-family: 'Open Sans', sans-serif;
}

h3 {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.garage-door {
  height: 500px;
  overflow:hidden;
  width: 100%;
}

.garage-door-wrapper{
  width: 100%;
  height: 100%;
}

.door {
  background: orange;
  float: left;
  height: 500px;
  position: relative;
  width: 50%;
  z-index: 2;
  transition: all 1s ease-out;
  display: flex;
  align-items: center;

}

.door-left {
  /*transform: translateX(-100%);*/
  transform: translateX(0);
  display: flex;
  justify-content: flex-end
}

.door-right {
  transform: translateX(0);
  /*transform: translateX(100%);*/
  display: flex;
  justify-content: flex-start;
}

.item-list {
  background: #fff;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 500px;
  display:flex;
  flex-direction: column;
  align-items:center;
  overflow:scroll;

}

.totals {
  display:flex;
  flex-direction: row;
  align-items: center;
  
}

.total {
  width: 50%;
}

.clean-totals {
  list-style-type: none;
}
.item-card {
  background: #e4e4e4;
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.item-card-head {
    background: #fff;
    border: 1px solid gray;
}
.add-item-section {
  display:flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

input {
  padding: 10px;
}
button {
  background: gray;
  padding: 10px;
  color: white;
}

select.clean-select {
  height: 36px;
}
