.garage-door {
  height: 500px;
  overflow:hidden;
  width: 100%;
}

.garage-door-wrapper{
  width: 100%;
  height: 100%;
}

.door {
  background: orange;
  float: left;
  height: 500px;
  position: relative;
  width: 50%;
  z-index: 2;
  transition: all 1s ease-out;
  display: flex;
  align-items: center;

}

input[type=checkbox]{
  cursor: pointer;
  height: 100%;
  opacity:0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

input[type=checkbox]:checked ~ div.door-left {
  transform: translateX(0);
}

input[type=checkbox]:checked ~ div.door-right {
  transform: translateX(0);
}

.door-left {
  transform: translateX(-100%);
  display: flex;
  justify-content: flex-end
}

.door-right {
  transform: translateX(100%);
  display: flex;
  justify-content: flex-start;
}



.item-list {
  background: #fff;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 500px;
}